* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 93vh;
    background-image: url(https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

.header {
    margin-top: 3rem;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header > img {
    width: 100vw;
}

.menu {
    width: 40rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0 2rem 0;
    font-size: 1.5rem;
    color: white;
}

.menu > li {
    list-style-type: none;
    cursor: pointer;
}

.logo > img {
    width: 100px;
    height: 100px;
}