* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #fcf4e7;
}

#content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mainSection {
  width: 100vw;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1561758033-d89a9ad46330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

.header {
  margin-top: 3rem;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > img {
  width: 100vw;
}

.menu {
  width: 40rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem 0;
  color: white;
  align-items: center;
}

.menu > li {
  list-style-type: none;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
}

.logo > img {
  width: 100px;
  height: 100px;
}

.brand {
  color: white;
  margin-top: 5rem;
  text-transform: uppercase;
}

.brand > h1 {
  font-size: 5.6875rem;
}

.brand > p {
  font-size: 19px !important;
  font-weight: 400;
}

.btn {
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.4s ease-in-out;
  color: white;
  border: none !important;
  background: #f6ad49;
  padding: 12px 20px;
  border-radius: 3px;
  text-align: center;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  background-color: #e60033;
}

li:hover {
  color: #e60033;
}

.itensSection {
  width: 100vw;
  height: 40vh;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #fcf4e7;
}

.itensSection > div > h1 {
  line-height: 1.7;
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  color: #e60033;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 2.5rem;
}

.itensSection > div > img {
  width: 200px;
  height: 200px;
  margin: 1rem 3rem 1rem 3rem;
}

.burguer {
  width: 150px !important;
}

.soda {
  width: 100px !important;
  height: 200px !important;
}

.titles {
  display: flex;
  justify-content: space-between;
  width: 53vw;
}

.divHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #433d3c;
  padding-bottom: 2rem;
}

/*MENU*/
.miniBanner {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  padding: 0.5rem;
  color: white;
  background-color: #e60033;
}

.foodSection {
  width: 100%;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: gray;
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  background: #f6ad49;
  background-size: 81px 159px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.foods {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.4rem;
}

.food {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  width: 40vw;
}

.food > h4 {
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: "Economica", sans-serif;
  color: #433d3c;
  font-size: 2rem;
  letter-spacing: 0;
}

.food > span {
  margin-right: 6rem;
  color: #e60033;
}

.food > ul {
  margin-right: 3rem;
}

.food > ul > li {
  list-style-type: none;
  padding: 0.5rem;
  color: white;
}

/*ABOUT*/

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside {
  height: 70vh;
}

.asideImg {
  width: 498px;
  height: 747px;
}

.divText {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
}

.divText > h1 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  margin-bottom: 0;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 3rem;
  color: #433d3c;
}

.divText > p {
  margin-top: 5rem;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  vertical-align: baseline;
  padding: 0;
  margin-bottom: 1.75rem;
  font-weight: 400;
  color: gray;
  font-size: 1.0625rem;
  line-height: 1.8;
}

/*FOOTER*/

.footer {
  width: 98vw;
  height: 20vh;
  background-color: red;
}
